In [1]:
import pyreadstat

In [13]:
compustat_df, compustat_meta = pyreadstat.read_sas7bdat("../SASData2021/compustat1990to2019.sas7bdat")

In [14]:
ibes_df, ibes_meta = pyreadstat.read_sas7bdat("../SASData2021/ibes1993to2019.sas7bdat")

In [16]:
compustat_df.shape

(171830, 633)

In [5]:
ibes_df.shape

(111329, 7)

In [15]:
compustat_df.head()

,gvkey,fyear,datadate,ACCHG,ACCRT,ACDO,ACO,ACODO,ACOMINC,ACOX,...,XSGA,XSTFO,XUW,First_Date,permno,prcc_f,adjex_f,csho,conm,ffic12
0,012994,1990.0,11138.0,0.000,NaN,NaN,0.374,NaN,NaN,0.374,...,NaN,NaN,NaN,11200.0,10001.0,9.75,3.0,1.031,GAS NATURAL INC,UTILS
1,012994,1991.0,11503.0,0.000,NaN,NaN,0.144,NaN,NaN,0.144,...,NaN,NaN,NaN,11564.0,10001.0,10.50,3.0,1.073,GAS NATURAL INC,UTILS
2,012994,1992.0,11869.0,0.000,NaN,NaN,0.321,NaN,NaN,0.321,...,NaN,NaN,NaN,11931.0,10001.0,11.75,3.0,1.075,GAS NATURAL INC,UTILS
3,012994,1993.0,12234.0,0.000,NaN,NaN,0.916,NaN,NaN,0.916,...,NaN,NaN,NaN,12296.0,10001.0,16.50,3.0,1.090,GAS NATURAL INC,UTILS
4,012994,1994.0,12599.0,0.092,NaN,NaN,0.837,NaN,NaN,0.837,...,NaN,NaN,NaN,12661.0,10001.0,8.50,1.5,2.191,GAS NATURAL INC,UTILS

In [21]:
compustat_df["permono-and-datadate"] = compustat_df.apply(lambda row: str(row.permno) + "-" + str(row.datadate), axis=1)

In [22]:
compustat_df.head()

,gvkey,fyear,datadate,ACCHG,ACCRT,ACDO,ACO,ACODO,ACOMINC,ACOX,...,XSTFO,XUW,First_Date,permno,prcc_f,adjex_f,csho,conm,ffic12,permono-and-datadate
0,012994,1990.0,11138.0,0.000,NaN,NaN,0.374,NaN,NaN,0.374,...,NaN,NaN,11200.0,10001.0,9.75,3.0,1.031,GAS NATURAL INC,UTILS,10001.0-11138.0
1,012994,1991.0,11503.0,0.000,NaN,NaN,0.144,NaN,NaN,0.144,...,NaN,NaN,11564.0,10001.0,10.50,3.0,1.073,GAS NATURAL INC,UTILS,10001.0-11503.0
2,012994,1992.0,11869.0,0.000,NaN,NaN,0.321,NaN,NaN,0.321,...,NaN,NaN,11931.0,10001.0,11.75,3.0,1.075,GAS NATURAL INC,UTILS,10001.0-11869.0
3,012994,1993.0,12234.0,0.000,NaN,NaN,0.916,NaN,NaN,0.916,...,NaN,NaN,12296.0,10001.0,16.50,3.0,1.090,GAS NATURAL INC,UTILS,10001.0-12234.0
4,012994,1994.0,12599.0,0.092,NaN,NaN,0.837,NaN,NaN,0.837,...,NaN,NaN,12661.0,10001.0,8.50,1.5,2.191,GAS NATURAL INC,UTILS,10001.0-12599.0

In [24]:
ibes_df["permono-and-datadate"] = ibes_df.apply(lambda row: str(row.PERMNO) + "-" + str(row.DATADATE), axis=1)

In [25]:
ibes_df.head()

,OFTIC,anndats,actual,CONSENSUS,DATADATE,PERMNO,IBESSHROUT,permono-and-datadate
0,GFGC,1993-09-01,1.180,1.40,12234.0,10001.0,3.255,10001.0-12234.0
1,EWST,1995-01-18,0.515,0.61,12599.0,10001.0,3.286,10001.0-12599.0
2,EWST,1995-09-14,0.680,0.63,12964.0,10001.0,3.336,10001.0-12964.0
3,EWST,1997-07-21,0.950,0.55,13330.0,10001.0,3.535,10001.0-13330.0
4,EWST,1998-01-07,0.550,0.55,13695.0,10001.0,3.567,10001.0-13695.0

In [26]:
merged_df = compustat_df.merge(ibes_df, left_on="permono-and-datadate", right_on="permono-and-datadate")
merged_df.head()

,gvkey,fyear,datadate,ACCHG,ACCRT,ACDO,ACO,ACODO,ACOMINC,ACOX,...,conm,ffic12,permono-and-datadate,OFTIC,anndats,actual,CONSENSUS,DATADATE,PERMNO,IBESSHROUT
0,012994,1993.0,12234.0,0.000,NaN,NaN,0.916,NaN,NaN,0.916,...,GAS NATURAL INC,UTILS,10001.0-12234.0,GFGC,1993-09-01,1.180,1.40,12234.0,10001.0,3.255
1,012994,1994.0,12599.0,0.092,NaN,NaN,0.837,NaN,NaN,0.837,...,GAS NATURAL INC,UTILS,10001.0-12599.0,EWST,1995-01-18,0.515,0.61,12599.0,10001.0,3.286
2,012994,1995.0,12964.0,0.000,NaN,NaN,0.508,NaN,NaN,0.508,...,GAS NATURAL INC,UTILS,10001.0-12964.0,EWST,1995-09-14,0.680,0.63,12964.0,10001.0,3.336
3,012994,1996.0,13330.0,0.000,NaN,NaN,1.969,NaN,NaN,1.969,...,GAS NATURAL INC,UTILS,10001.0-13330.0,EWST,1997-07-21,0.950,0.55,13330.0,10001.0,3.535
4,012994,1997.0,13695.0,0.000,NaN,NaN,2.493,NaN,NaN,2.493,...,GAS NATURAL INC,UTILS,10001.0-13695.0,EWST,1998-01-07,0.550,0.55,13695.0,10001.0,3.567

In [27]:
merged_df.shape

(104954, 641)

In [ ]:
addibesfut = merged_df.merge(ibes_df, )